body {
    padding: 0;
    margin: 0;

    font-family: "Forum", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    color: white;


    background: #3B181E url("../img/body-bg.jpg") no-repeat top center;
}

.container {
    width: 1729px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.button {
    display: inline-block;
    padding: 18px 30px;
    border: 1px solid white;

    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.15em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.section-title {
    margin: 0;

    font-weight: normal;
    font-size: 30px;
    line-height: normal;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: white;
}

.description {
    font-size: 220px;
    line-height: normal;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.03;
    margin: -127px 0 -110px 0;

    position: relative;
    z-index: -3 ;
}

.main-nav-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logo {
    padding: 87px 0 50px 0;
}

.header-menu-list {
    display: flex;
    flex-wrap: wrap;

    list-style: none;
    padding: 112px 0 50px 0;
    margin: 0 -80px 0 0;
}

.header-menu-item {
    margin-right: 80px;
}

.header-menu-item a {
    font-size: 20px;
    letter-spacing: 0.06em;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.phone {
    padding: 112px 0 50px 0;

    font-size: 20px;
    letter-spacing: 0.06em;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.promo {
    padding: 139px 0 286px 0;
}

.promo-title {
    font-size: 120px;
    line-height: normal;
    letter-spacing: 0.09em;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 80px;
}

.promo .button-wrapper {
    text-align: center;
}

.promo .link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 41px;

    position: relative;
}

.promo .link-wrapper::after {
    content: "";

    width: 37px;
    height: 56px;
    background: url("../img/mouse.png");

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.promo-socials-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.promo-socials-item {
    margin-bottom: 22px;
    width: 27px;
    height: 27px;
    font-size: 0;
}

.promo-socials-item:nth-child(1) {
    background: url("../img/inst.svg") no-repeat;
}

.promo-socials-item:nth-child(2) {
    background: url("../img/fb.svg") no-repeat;
}

.promo-socials-item:nth-child(3) {
    background: url("../img/whatsapp.svg") no-repeat;
}

.promo-socials-item:nth-child(4) {
    background: url("../img/vk.svg") no-repeat;
}

.watch-catalog-link {
    display: inline-block;

    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.06em;
    color: white;
    text-transform: lowercase;
    text-decoration: none;
    transform: rotate(90deg) translate(-10px, -155px);
    transform-origin: left;

    position: relative;
}

.watch-catalog-link::before {
    content: "";

    width: 15px;
    height: 1px;
    border-bottom: 1px solid white;

    position: absolute;
    right: -31px;
    top: 48%;
    transform: translateY(-50%);
}

.watch-catalog-link::after {
    content: "";

    width: 6px;
    height: 6px;
    border: 1px solid white;
    border-top: transparent;
    border-left: transparent;

    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.catalog {
    padding-bottom: 256px;
}

.catalog-title {
    margin-bottom: 118px;
    text-align: center;
}

.catalog-wrapper {
    margin: 0 auto;
}

.catalog-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

    list-style: none;
    padding: 0;
    margin: 0 -40px 0 0;
    height: 880px;

    counter-reset: catalog-item-counter;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    width: 330px;
    padding: 10px 10px 16px;
    border: 1px solid #62464B;
    margin: 0 40px 40px 0;

    position: relative;
}

.catalog-item::before {
    counter-increment: catalog-item-counter;
    content: "0" counter(catalog-item-counter);

    font-family: "Forum", sans-serif;
    font-size: 20px;
    line-height: normal;

    position: absolute;
    top: 50px;
    left: 33px;

    z-index: 4;
}

.catalog-item::after {
    content: "";

    width: 70px;
    border-top: 2px solid white;

    position: absolute;
    top: 64px;
    left: 62px;
}

.catalog-item-small {
    min-height: 260px;
}

.catalog-item-medium {
    min-height: 337px;
}

.catalog-item-medium-plus {
    min-height: 359px;
}

.catalog-item-big {
    min-height: 484px;
}

.catalog-item-biggest {
    min-height: 724px;
}

.catalog-item-img::before {
    content: "";

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.catalog-item-img:hover {
    filter: brightness(40%);
}

.catalog-item-text {
    margin: 20px 0 0 0;

    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    opacity: 0.9;
}

.catalog-item-link {
    display: block;
    margin: auto 0 0 0;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.action {
    padding-bottom: 263px;
}

.action-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.action-text-column {
    width: 400px;
    margin-right: 78px;
}

.action-title {
    font-size: 50px;
    line-height: normal;
    letter-spacing: 0.09em;

    margin: 42px 0 58px 0;
}

.action-text {
    margin: 58px 0 31px 0;
}

.action-img-column {
    width: 697px;
    position: relative;
}

.action-img-column::after {
    content: "";

    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;

    position: absolute;
    left: 27px;
    top: 22px;
}

.composition {
    padding-bottom: 285px;
}

.composition-wrapper {
    display: flex;
}

.composition-img-column {
    width: 996px;
    margin-right: 84px;
    position: relative;
}

.composition-img-column::after {
    content: "";

    width: 100%;
    height: 93%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;

    position: absolute;
    left: 27px;
    top: 3%;
}

.composition-text-column {
    width: 619px;
}

.composition-title {
    font-size: 50px;
    line-height: normal;
    letter-spacing: 0.09em;

    margin: 118px 0 56px 0;
}

.composition-text {
    margin: 56px 0 30px 0;
}

.composition-text-column .button {
    margin-bottom: 100px;
}

.composition-list {
    display: flex;
    align-items: flex-start;

    list-style: none;
    margin: 0;
    padding: 0;
}

.composition-item {
    width: 123px;
    height: 123px;
    margin: 0 20px 20px 0;
}

.present {
    padding-bottom: 271px;
}

.present-title {
    text-align: center;
    margin-bottom: 90px;
}

.present-list {
    display: flex;
    align-items: center;
    justify-content: center;

    list-style: none;
    margin: 0;
    padding: 0;
}

.present-item {
    display: flex;
    flex-direction: column;

    margin-right: 30px;
    height: 574px;
    width: 348px;
}

.present-item-big {
    height: 694px;
    width: 420px;
}

.present-item-img-row {
    height: 199px;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
}

.present-content-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    background: url("../img/present-small.png") no-repeat center;
    background-size: cover;
    height: 100%;
}

.present-item-price {
    align-self: flex-start;
}

.present-item-big .present-item-img-row {
    height: 244px;
    padding: 10px;
}

.present-item-big .present-content-block {
    background: url("../img/present-big.png") no-repeat center;
    background-size: cover;
}

.present-content-block p {
    margin: 0;
}

.present-item-text-row {
    flex-grow: 1;
    background: #281014 url("../img/present-decor.svg") no-repeat center bottom 146px;
    background-size: 306px 60px;
    text-align: center;
}

.present-item-big .present-item-text-row {
    background-position: center bottom 175px;
    background-size: 380px 74px;
}

.present-item-text {
    line-height: 150%;
    text-align: center;
    max-width: 275px;
    margin: 70px auto 111px ;
}
.present-item-big .present-item-text {
    margin: 100px auto 128px ;
    max-width: 285px;
}


.caterer {
    padding-bottom: 196px;
}

.caterer-title {
    text-align: center;
    margin: 0 0 90px 0;
}

.caterer-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    width: 1209px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.caterer-item {
    margin: 0 33px 33px 0;
}

.caterer-item-small {
    min-width: 268px;
    height: 90px;
}

.caterer-item-medium {
    width: 370px;
    height: 122px;
}

.caterer-item-big {
    width: 571px;
    height: 190px;
}